
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --animate-skeleton: skeleton 2s -1s infinite linear;
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
  --color-destructive-foreground: var(--destructive-foreground);
  @keyframes skeleton {
  to {
    background-position: -200% 0;
    }
  }
}

:root {
  --border: var(--color-gray-200);
  --ring: var(--color-blue-500);
  --background: var(--color-white);
  --foreground: var(--color-gray-900);
  --destructive-foreground: var(--color-red-700);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-700);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-700);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-700);
}

.dark {
  --border: var(--color-gray-700);
  --ring: var(--color-blue-400);
  --background: var(--color-gray-900);
  --foreground: var(--color-gray-100);
  --destructive-foreground: var(--color-red-400);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-400);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-400);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-400);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}